body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Navigation */

nav{
    width: 100%;
    min-height: 55px;
    height: auto;
    background-color: #1C335F;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    
}
nav ul{
    display: inline;
    color: #FFF;
    font-size: 13px;
    
}

nav ul li{
    display: inline;
    list-style: none;
}

.grey{
    color: #CCC;
    cursor: pointer;
    transition: 0.5s;
}

.grey:hover{
    transition: 0.5s;
    color: #62ADF5;
}

.seperator{
    margin: 0px 10px;
    color: #777;
    font-size: 12px;
}

#nav-main{
    margin-right: 20%;
}

#nav-icons a{
    margin: 0 7px;
    font-size: 13px;
    color: #FFF;
    transition: 0.5s;
}

#nav-icons a:hover{

    color: #62ADF5;
    transition: 0.5s;
}





/* Home section */


.home-header{
    min-height: 100px;
    height: auto;
    display: flex;
    align-items: center ;
    justify-content: flex-start;
    margin: 10px 10%;
    color: rgb(97, 128, 153);
    font-size: 18px;
}

.home-header p{
    margin-top: 30px;
}

.home-header img{
    width: 200px;
    margin-right: 10%;
}


.slider{
    width: 100%;
    height: 600px;
}

.slider img{
    width: 100%;
    height: 600px;
    position: absolute;
    object-fit: cover;
}

.slider-card{
    display: flex;
    position: absolute;
    width: 100%;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
    height: 600px;
}
.slider-card-items{
    position: relative;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    margin-top: 150px;
}

.slider-card h1{
    font-size: 44px;
    width: 60%;
}

.slider-card p{
    font-size: 16px;
    width: 80%;

}

.card-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}

.slider-card button{
    width: auto;
    padding: 0px 20px;
    height: 50px;
    border-radius: 30px;    
    color: white;
    border: 1px solid #F3AF4E;
    background-color: #F3AF4E;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.slider-card button:hover{
   color: #F3AF4E;
   background-color: transparent;
   transition: 0.3s;
   box-shadow: 0px 7px 5px 5px #F3AF4E;
}

button.blue{
    background-color: #6FADFA;
    border: 1px solid #6FADFA;
}

button.blue:hover{
    background-color: white;
    color: #6FADFA;
    box-shadow: 0px 7px 5px 5px #6FADFA;
}




.arrow{
    position: relative;
    color: white;
    z-index: 3;
    font-size: 25px;
    color: #777;
    top: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.arrow:hover{
    transform: scale(120%);
    transition: 0.5s;
    color: #FFF;
}

.arrow-right{
    margin-left: 88%;
}

.arrow-left{
    margin-left: 5%;
}


.control-dots{
    position: relative;
    transition: 0.5s;
    color: #777;
    font-size: 10px;
    z-index: 3;
    top: 90%;
    margin: 0 auto;
    display: flex;
    width: 50px;
    justify-content: space-between;
    cursor: pointer;
}

.control-dots i{
    transition: 0.5s;
}

.control-dots i:hover{
    transform: 0.5s;
    transform: scale(120%);
    color: #6FADFA;
}

.dot-active{
    color: #FFF;
    transition: 0.5s;
}

.card-active{
    transition: 0.5s;
    opacity: 1;
    z-index: 2;
}





/* Grid Section */


.grid{
    width: 80%;
    margin: 100px auto;
    min-height: 400px;
    height: auto;
    display: grid;
    column-gap: 20px;
    row-gap: 40px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;

    
}


.grid a{
    text-decoration: none;
}

.grid-card{
    width: 200px;
    height: 210px;
    border-radius: 20px;
    background-color: #1C335F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
}

.grid-card:hover{
    transition: 0.3s;
    opacity: 0.8;
    transform: translateY(-20px);
}


.grid-card svg{

    width: 30px;
    height: 30px;
    padding: 15px;
    background-color: #6FADFA;
    color: #FFF;
    border-radius: 50px;
    margin-top: 30px;
}

.grid-card p{
    color: #FFF;
    font-size: 16px;
    text-align: center;
    width: 60%;
}

svg.yellow{
    background-color: #F3AF4E;
}

svg.red{
    background-color: #FA6640;
}



/* Login Section */


.login-form{

    width: 80%;
    margin: auto;
    display: flex;
    position: relative;
}

.login-form img{

    width: 600px;
    height: 600px;
    display: inline;
    margin-right: 50px;
    /* object-fit: cover; */
}

.login-form-controls{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.login-form h1{
    color: #555;
    font-weight: 100;
    font-size: 36px;
}
.login-form label{
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.login-form select{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #AAA;
}

input.txt-entry{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #AAA;
    color: #777;
    font-size: 16px;
    padding: 0 10px;
}


.login-form button{
    width: 350px;
    padding: 0px 20px;
    height: 40px;
    margin: 40px auto;
    border-radius: 30px;    
    color: white;
    border: 1px solid #62ADF5;
    background-color: #62ADF5;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover{
   color: #62ADF5;
   background-color: transparent;
   transition: 0.3s;
   box-shadow: 0px 7px 5px 5px #62ADF5;
}

.login-form a{
    font-size: 15px;
    color: #777;
    text-decoration: none;
    transition: 0.5s;
}

.login-form a:hover{
    color: #FA6640;
    transition: 0.5s;
}

.form-links{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}






/* Tab Section */




.tab{
    width: 67%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.tab-headers{
    display: flex;
    justify-content: flex-end;
}

.tab-headers button{

    min-width: 200px;
    width: auto;
    height: 60px;
    padding: 0 10px;
    background-color: transparent;
    font-size: 22px;
    color: #888;
    border: none;
    cursor: pointer;

}

.tab-headers button:hover{

    background-color: #AAA;
    color: #FFF;
    transition: 0.3s;

}

.tab-headers button:hover svg{
    background-color: #AAA;
    transition: 0.3s;
}


.tab-headers button:focus {
    background-color: #1C335F;
    color: #FFF;
    transition: 0.5s;
}

.tab-headers button:focus svg{
    background-color: #1C335F;
    transition: 0.5s;
}


.tab-content img{
    width: 400px;
    height: 400px;
}


.tab-headers svg{

    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-color: #ffffff;
    color: #F3AF4E;
    border-radius: 50px;
}



.tab-content{
    display: flex;
    justify-content: space-between;
    height: 450px;
    margin: 30px 0px;
    border: 30px solid #FFF;
    background-color: #FBFBFD;
    border-radius: 5px;
}

.tab-content div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.tab-content p{
 
    display: none;
    flex-basis: 50%;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    font-size: 21px;
    margin-bottom: 20px;
    color: #677294;

}

p.active-tab{
    display: block;
}

.tab-content button{
    width: 90px;
    height: 60px;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background-color: #F3AF4E;
    color: #FFF;
    font-size: 20px;
    margin-left: 50px;
    transition: 0.3s;
    box-shadow: 0px 9px 0px 0px #EEE;
    border: 1px solid #F3AF4E;
    cursor: pointer;
}

.tab-content button:hover{
    background-color: #FFF;
    color: #F3AF4E;
    transition: 0.3s;
    box-shadow: 0px 9px 0px 0px #F3AF4E;
}


.tab-container{
    background-color: #F7F7F7;
    padding: 50px 0;
}








/* Services Section */


.services{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.services-text{

    margin-left: 100px;
    padding: 20px;
    
}
.services-text h1{
    color: #9CB6D4;
    font-size: 20px;
    margin: 30px;
    font-weight: 100;
    
}

.services-text li{
    text-align: left;
    list-style: none; 
    margin: 7px;
    font-size: 17px;
    cursor: pointer;
}

.services-text a{
    text-decoration: none;
    color: #677294;
    transition: 0.3s;
}

.services-text a:hover{
    text-decoration: underline;
    color: #FA6640;
    transition: 0.3s;
}



.services-image{
    height: 480px;
    width: 370px;
    margin: auto 0;
    background: rgb(149,188,219);
    background: linear-gradient(238deg, rgba(149,188,219,1) 0%, rgba(193,230,241,1) 100%);
}

.services img{
    box-shadow: 2px 2px 5px 1px #DDD;
    width: 350px;
    margin: 65px 0;
    position: relative;
    left: 60px;

}






/* Stats and Circular Progress */


.stats{

    background-color: #1C335F;
    min-height: 350px;
    height: auto;
    width: 100%;
    margin: 100px 0;
    padding: 80px 0; 
    display: grid;
    column-gap: 90px;
    row-gap: 40px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.stat-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-entry p{
    color: #FFF;
    font-size: 20px;
}

.circle-progress{
    background: conic-gradient( rgb(170, 111, 250) 240deg, rgb(255,255,255) 0deg);
    width: 200px; 
    height: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-progress p{
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    background-color: #1C335F;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* Responsiveness */

@media screen and (max-width: 1400px){

    .grid{
        grid-template-columns: auto auto auto auto;
    }


    .stats{

        grid-template-columns: auto auto auto;
    }

}



@media screen and (max-width: 1200px){

    .grid{
        grid-template-columns: auto auto auto;
    }


    .tab-headers{
        flex-direction: column;
    }
    .tab-headers button{
        text-align: left;
        font-size: 18px;
    }
    .tab-content{
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 50px;
    }

    .tab-content p{
        font-size: 18px;

    }

    .tab-content img{
        margin: 40px auto;
        width: 100%;
        height: 100%;
        margin-right: 10%;
    }

    .tab-content button{
        font-size: 18px;
    }


    .services{
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .services-text{

        margin: 0px;
        padding: 20px;
        
    }

    .stats{

        grid-template-columns: auto auto;
    }


}




@media screen and (max-width: 1000px) {
    #nav-icons a{
        display: none;
    }
    #nav-main{
        margin-right: 0;
    }
    #armsOfEG{
       top: 10px;
       left: 20px;
       margin: 0px;
       position: relative;
    }
    nav{
        display: block;
    }
    nav li{
        display: block;
    }
    nav .seperator{
        margin: 0;
    }

    .home-header{
        flex-direction: column;
        text-align: center;
    }


    .slider-card-items{
        margin-top: 100px;
    }

    .slider-card h1{
        font-size: 36px;
        width: 100%;
    }
    
    .slider-card p{
        font-size: 12px;
        width: 100%;
    }


    .slider-card button{
        height: 40px;
        font-size: 14px;
    }


    .arrow-right{
        margin-left: 70%;
    }
    
    .arrow-left{
        margin-left: 10%;
    }


    .grid{
        grid-template-columns: auto auto;
    }

    .login-form{

        flex-direction: column;
    }

    .login-form img{
        width: 100%;
        height: auto;
    }
    .login-form button{
        width: 50%;
    }
    
   
}



@media screen and (max-width: 700px) {

    .grid{
        grid-template-columns: auto;
    }

    .grid-card{
        width: 80%;
        margin-left: 10%;
    }

    .stats{

        grid-template-columns: auto;
    }

}